.contenedor-codigos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    margin: 15px;
    align-items: stretch;
}

.codigo {
    flex: 1;
    min-width: 0;
    border: 8px solid #4f5d86;
    border-radius: 8px;
    background-color: #879cbe;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.75rem;
}

.codigo pre {
    overflow-x: auto;
    margin: 0;
}

.boton-descarga {
    margin-top: 15px;
    text-align: center;
}

.boton__link {
    color: #111;
    display: inline-block;
    width: max-content;
    border-radius: 6px;
    padding: 6px 12px;
    border: 1px solid #222;
    background-color: #aabcd1;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
}

.boton__link:hover {
    background-color: #111;
    color: #fff;
}

.cont__sub {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin: 15px;
}

.cont__sub .subtitulo {
    flex: 1;
    text-align: center;
}